global
    maxconn 2000

resolvers docker
    # Docker's internal DNS is always at this address
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold other      10s
    hold valid      10s
    hold nx         10s
    hold timeout    10s
    hold obsolete   10s

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend llm_frontend
    bind *:8080
    default_backend gpu_worker_cluster

backend gpu_worker_cluster
    balance roundrobin
    
    # This template will create 10 slots.
    # HAProxy will fill these with all IPs found under the 'worker' service name.
    # init-addr none prevents HAProxy from failing at startup if no workers are up yet.
    server-template worker- 1-10 worker:8001 check resolvers docker init-addr libc,none

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
